
@{
    Layout = null;
}

<!DOCTYPE html>

@*TODO :: MAKE SUBMIT, MAKE SAVE SHAPE*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>submitShapes</title>
</head>
<body>
</body>
</html>

